#### Merge 2012 parking data with Toronto City location data prior to Tableau

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Parking_Tags_Data_2012.csv')

In [3]:
df.shape

(2746154, 11)

In [4]:
df.head(5)

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***78746,20120101,192,STAND SIGNED TRANSIT STOP,60,0.0,NR,355 PARKSIDE DR,NaN,NaN,ON
1,***31670,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,NR,220 KING ST W,NaN,NaN,ON
2,***47870,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,N/S,ELM ST,W/O,ELIZABETH ST,ON
3,***68489,20120101,8,STD VEH HWY PROHIB TIME/DAY,60,1.0,N/S,WALTON ST,E/O,BAY ST,ON
4,***98802,20120101,337,PARK - ON BOULEVARD,50,1.0,S/S,SHEPPARD AVE E,E/O,NEILSON AVE,ON

In [5]:
# Drop any row not starting with a proper address or not needed
df.drop(columns = ['location1', 'location3','location4', 'province','tag_number_masked'], axis=1, inplace=True)

In [6]:
df.columns

Index(['date_of_infraction', 'infraction_code', 'infraction_description',
       'set_fine_amount', 'time_of_infraction', 'location2'],
      dtype='object')

In [7]:
df.head(5)

,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location2
0,20120101,192,STAND SIGNED TRANSIT STOP,60,0.0,355 PARKSIDE DR
1,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,220 KING ST W
2,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,ELM ST
3,20120101,8,STD VEH HWY PROHIB TIME/DAY,60,1.0,WALTON ST
4,20120101,337,PARK - ON BOULEVARD,50,1.0,SHEPPARD AVE E

In [8]:
# Drop any row not starting with a proper address e.g. cross streets

idx1 = df[df['location2'].str.match('^[^0-9]',na=False)].index

# Delete these row indexes from dataFrame
df.drop(idx1, inplace=True)
df.shape

(2607403, 6)

In [9]:
df.head(10)

,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location2
0,20120101,192,STAND SIGNED TRANSIT STOP,60,0.0,355 PARKSIDE DR
1,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,220 KING ST W
7,20120101,15,PARK - 3 M OF FIRE HYDRANT,100,2.0,35 THORNCLIFFE PARK DR
11,20120101,5,PARK HWY PROHIBED TIME/DAY,40,3.0,968 QUEEN ST W
14,20120101,192,STAND SIGNED TRANSIT STOP,60,4.0,193 PARKSIDE DR
15,20120101,192,STAND SIGNED TRANSIT STOP,60,5.0,193 PARKSIDE DR
16,20120101,192,STAND SIGNED TRANSIT STOP,60,5.0,193 PARKSIDE DR
18,20120101,384,STOP VEH OTR THN BCYCL-BYCL LN,60,7.0,86 GERRARD ST E
19,20120101,384,STOP VEH OTR THN BCYCL-BYCL LN,60,8.0,86 GERRARD ST E
21,20120101,384,STOP VEH OTR THN BCYCL-BYCL LN,60,9.0,101 GERRARD ST E

In [10]:
df.shape

(2607403, 6)

In [11]:
df.columns

Index(['date_of_infraction', 'infraction_code', 'infraction_description',
       'set_fine_amount', 'time_of_infraction', 'location2'],
      dtype='object')

In [13]:
df.groupby('date_of_infraction')

In [14]:
# How many infractions per date

df['date_of_infraction'].value_counts()

20121016    9420
20120323    9358
20120816    9224
20120501    9199
20120516    9179
20120328    8987
20120427    8941
20120217    8903
20120416    8902
20121017    8866
20121019    8861
20121101    8859
20120309    8818
20120202    8818
20120605    8789
20120201    8773
20121106    8762
20120329    8761
20120116    8738
20120306    8733
20120327    8716
20120404    8709
20120425    8679
20120913    8663
20121212    8651
20120424    8638
20120330    8633
20120118    8613
20120308    8612
20120111    8610
            ...
20120513    4871
20120902    4857
20120108    4830
20120826    4829
20120617    4722
20120722    4669
20121014    4452
20120212    4442
20121118    4360
20121231    4336
20121227    4244
20120805    4185
20121223    4143
20121007    4139
20121229    3714
20121230    3669
20120220    3544
20120701    3373
20120806    3255
20120521    3091
20120702    3077
20120903    2690
20120102    2578
20120409    2484
20120406    2437
20120408    2199
20121008    1967
20121226    1397
20120101     985
20121225     636
Name: date_of_infraction, Length: 366, dtype: int64

In [16]:
# Pick up address and ward and lat,long from geoaddress from City of toronto 
df2 = pd.read_csv('GeoAddress.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df2.head()

,GEO_ID,LINK,MAINT_STAG,ADDRESS,LFNAME,LONUM,LONUMSUF,HINUM,HINUMSUF,ARC_SIDE,...,CLASS,NAME,X,Y,LONGITUDE,LATITUDE,OBJECTID,MUN_NAME,WARD_NAME,geometry
0,1015200,914764,REGULAR,22,Lloyd George Ave,22,NaN,0,NaN,L,...,Land,NaN,301211.152,4827985.051,-79.544251,43.593789,4104309.0,Etobicoke,Etobicoke-Lakeshore,NaN
1,1015189,914764,REGULAR,3,Lloyd George Ave,3,NaN,0,NaN,R,...,Land,NaN,301272.174,4827946.759,-79.543495,43.593445,4104306.0,Etobicoke,Etobicoke-Lakeshore,NaN
2,20140046,914764,REGULAR,7A,Lloyd George Ave,7,A,0,NaN,R,...,Land,NaN,301265.553,4827966.490,-79.543577,43.593622,4104315.0,Etobicoke,Etobicoke-Lakeshore,NaN
3,1001594,914677,REGULAR,58,Foch Ave,58,NaN,0,NaN,L,...,Land,NaN,301024.624,4828252.320,-79.546567,43.596203,2842769.0,Etobicoke,Etobicoke-Lakeshore,NaN
4,1001593,914677,REGULAR,54,Foch Ave,54,NaN,0,NaN,L,...,Land,NaN,301037.208,4828229.086,-79.546411,43.595994,2005187.0,Etobicoke,Etobicoke-Lakeshore,NaN

In [18]:
df2.columns

Index(['GEO_ID', 'LINK', 'MAINT_STAG', 'ADDRESS', 'LFNAME', 'LONUM',
       'LONUMSUF', 'HINUM', 'HINUMSUF', 'ARC_SIDE', 'DISTANCE', 'FCODE',
       'FCODE_DES', 'CLASS', 'NAME', 'X', 'Y', 'LONGITUDE', 'LATITUDE',
       'OBJECTID', 'MUN_NAME', 'WARD_NAME', 'geometry'],
      dtype='object')

In [19]:
# Drop the columns we don't need. 
# We just want lat and long info ward and address. 
# Later on we can enhance with postcode 
#
df2.drop(columns = [ 'GEO_ID', 'LINK', 'MAINT_STAG',  'LONUM',
       'LONUMSUF', 'HINUM', 'HINUMSUF', 'ARC_SIDE', 'DISTANCE', 'FCODE',
       'FCODE_DES', 'CLASS', 'NAME', 'X', 'Y', 
       'OBJECTID',  'geometry'  ], axis=1, inplace=True)

# check the columns 
df2.head()

,ADDRESS,LFNAME,LONGITUDE,LATITUDE,MUN_NAME,WARD_NAME
0,22,Lloyd George Ave,-79.544251,43.593789,Etobicoke,Etobicoke-Lakeshore
1,3,Lloyd George Ave,-79.543495,43.593445,Etobicoke,Etobicoke-Lakeshore
2,7A,Lloyd George Ave,-79.543577,43.593622,Etobicoke,Etobicoke-Lakeshore
3,58,Foch Ave,-79.546567,43.596203,Etobicoke,Etobicoke-Lakeshore
4,54,Foch Ave,-79.546411,43.595994,Etobicoke,Etobicoke-Lakeshore

In [20]:
# Remove any spaces leading or trailing  before merging with the parking ticket dataframe

df2['LFNAME'] = df2['LFNAME'].str.replace(r'\s+', ' ')
df2['ADDRESS'] = df2['ADDRESS'].str.replace(r'\s+', ' ')

In [24]:
# Convert to strings so that I can concatenate them in same format as the parking ticket dataframe.
# I want to do a lookup for the wards on the Queen st dataframe and then merge the two dataframes

# Format df2['Location'] = df2['streetnum']  + df2['street']

df2['ADDRESS'] = df2['ADDRESS'].astype(str)
df2['WardLocation'] = df2['ADDRESS']  +' '+  df2['LFNAME']

In [42]:
# Upper case the address as per the parking ticket dataframe

df2['WardLocation'] = df2['WardLocation'].str.upper()

In [26]:
df2.head()

,ADDRESS,LFNAME,LONGITUDE,LATITUDE,MUN_NAME,WARD_NAME,WardLocation
0,22,Lloyd George Ave,-79.544251,43.593789,Etobicoke,Etobicoke-Lakeshore,22 LLOYD GEORGE AVE
1,3,Lloyd George Ave,-79.543495,43.593445,Etobicoke,Etobicoke-Lakeshore,3 LLOYD GEORGE AVE
2,7A,Lloyd George Ave,-79.543577,43.593622,Etobicoke,Etobicoke-Lakeshore,7A LLOYD GEORGE AVE
3,58,Foch Ave,-79.546567,43.596203,Etobicoke,Etobicoke-Lakeshore,58 FOCH AVE
4,54,Foch Ave,-79.546411,43.595994,Etobicoke,Etobicoke-Lakeshore,54 FOCH AVE

In [28]:
df.head()

,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location2
0,20120101,192,STAND SIGNED TRANSIT STOP,60,0.0,355 PARKSIDE DR
1,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,220 KING ST W
7,20120101,15,PARK - 3 M OF FIRE HYDRANT,100,2.0,35 THORNCLIFFE PARK DR
11,20120101,5,PARK HWY PROHIBED TIME/DAY,40,3.0,968 QUEEN ST W
14,20120101,192,STAND SIGNED TRANSIT STOP,60,4.0,193 PARKSIDE DR

In [29]:
df2.columns

Index(['ADDRESS', 'LFNAME', 'LONGITUDE', 'LATITUDE', 'MUN_NAME', 'WARD_NAME',
       'WardLocation'],
      dtype='object')

In [32]:
# Create a merged dataframe, with all parking tickets, and a lookup by street name and number 
# to pick up the lat, long and ward info

merged_df = pd.merge(df[['date_of_infraction', 'infraction_code', 'infraction_description','set_fine_amount', 'time_of_infraction', 'location2'   ]],
                     df2[[ 'LONGITUDE', 'LATITUDE','MUN_NAME', 'WARD_NAME', 'WardLocation']],
                     left_on = 'location2', 
                     right_on = 'WardLocation', 
                     how='left')

print (merged_df)

         date_of_infraction  infraction_code          infraction_description  \
0                  20120101              192       STAND SIGNED TRANSIT STOP
1                  20120101                5      PARK HWY PROHIBED TIME/DAY
2                  20120101               15      PARK - 3 M OF FIRE HYDRANT
3                  20120101                5      PARK HWY PROHIBED TIME/DAY
4                  20120101              192       STAND SIGNED TRANSIT STOP
5                  20120101              192       STAND SIGNED TRANSIT STOP
6                  20120101              192       STAND SIGNED TRANSIT STOP
7                  20120101              384  STOP VEH OTR THN BCYCL-BYCL LN
8                  20120101              384  STOP VEH OTR THN BCYCL-BYCL LN
9                  20120101              384  STOP VEH OTR THN BCYCL-BYCL LN
10                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
11                 20120101                5      PARK HWY PROHIBED TIME/DAY
12                 20120101                5      PARK HWY PROHIBED TIME/DAY
13                 20120101                5      PARK HWY PROHIBED TIME/DAY
14                 20120101                5      PARK HWY PROHIBED TIME/DAY
15                 20120101                5      PARK HWY PROHIBED TIME/DAY
16                 20120101               15         PARK 3M OF FIRE HYDRANT
17                 20120101                5      PARK HWY PROHIBED TIME/DAY
18                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
19                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
20                 20120101               15         PARK 3M OF FIRE HYDRANT
21                 20120101                5      PARK HWY PROHIBED TIME/DAY
22                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
23                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
24                 20120101               14        PARK OBSTRUCT DRIVE/LANE
25                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
26                 20120101                3  PARK/LEAVE ON PRIVATE PROPERTY
27                 20120101              192       STAND SIGNED TRANSIT STOP
28                 20120101                5   PARK-HWY DRNG PROH TIMES/DAYS
29                 20120101              369  STAND STR DISABL LDG NO DROPOF
...                     ...              ...                             ...
2683142            20121231                8     STD VEH HWY PROHIB TIME/DAY
2683143            20121231              312  PARKING MACH-NOT USED/NO FEE
2683144            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683145            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683146            20121231              314      PARK - NOT WITHIN PERIOD
2683147            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683148            20121231                9    STOP HWY PROHIBITED TIME/DAY
2683149            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683150            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683151            20121231              312  PARKING MACH-NOT USED/NO FEE
2683152            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683153            20121231              312  PARKING MACH-NOT USED/NO FEE
2683154            20121231              312  PARKING MACH-NOT USED/NO FEE
2683155            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683156            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683157            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683158            20121231                8    STAND VEH-HWY-PROH TIME/DAYS
2683159            20121231                8    STAND VEH-HWY-PROH TIME/DAYS
2683160            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683161            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683162            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683163            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683164            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683165            20121231                9  STOP HWY PROHIBITED TIMES/DAYS
2683166            20121231                9  STOP HWY PROHIBITED TIMES/DAYS
2683167            20121231               15         PARK 3M OF FIRE HYDRANT
2683168            20121231                9  STOP HWY PROHIBITED TIMES/DAYS
2683169            20121231               15         PARK 3M OF FIRE HYDRANT
2683170            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY
2683171            20121231                3  PARK/LEAVE ON PRIVATE PROPERTY

         set_fine_amount  time_of_infraction               location2  \
0                     60                 0.0         355 PARKSIDE DR
1                     40                 1.0           220 KING ST W
2                    100                 2.0  35 THORNCLIFFE PARK DR
3                     40                 3.0          968 QUEEN ST W
4                     60                 4.0         193 PARKSIDE DR
5                     60                 5.0         193 PARKSIDE DR
6                     60                 5.0         193 PARKSIDE DR
7                     60                 7.0         86 GERRARD ST E
8                     60                 8.0         86 GERRARD ST E
9                     60                 9.0        101 GERRARD ST E
10                    30                 9.0          361 FRONT ST W
11                    40                 9.0          942 QUEEN ST W
12                    40                12.0        150 ELIZABETH ST
13                    40                14.0          723 QUEEN ST W
14                    40                16.0               77 ELM ST
15                    40                17.0               77 ELM ST
16                   100                20.0          361 FRONT ST W
17                    40                22.0           801 KING ST W
18                    30                22.0         177 REDPATH AVE
19                    30                23.0         177 REDPATH AVE
20                   100                25.0               13 ELM ST
21                    40                26.0           901 KING ST W
22                    30                26.0      200 ROEHAMPTON AVE
23                    30                26.0      200 ROEHAMPTON AVE
24                    40                28.0          11 PROTEA GDNS
25                    30                28.0      200 ROEHAMPTON AVE
26                    30                31.0      200 ROEHAMPTON AVE
27                    60                37.0            922 PAPE AVE
28                    40                39.0        1366 DUNDAS ST W
29                   450                41.0         32 GRENVILLE ST
...                  ...                 ...                     ...
2683142               60              2121.0         244 VICTORIA ST
2683143               30              2122.0          15 DENISON AVE
2683144               30              2133.0        15 BRUYERES MEWS
2683145               30              2143.0      1230 YORK MILLS RD
2683146               30              2146.0         35 BELLEVUE AVE
2683147               30              2150.0           38 NIAGARA ST
2683148               60              2152.0              67 BOND ST
2683149               30              2155.0           38 NIAGARA ST
2683150               30              2202.0        4256 BATHURST ST
2683151               30              2218.0           80 CLINTON ST
2683152               30              2225.0        573 KING ST EAST
2683153               30              2231.0           74 CLINTON ST
2683154               30              2233.0           74 CLINTON ST
2683155               30              2250.0            8 VENDOME PL
2683156               30              2252.0            8 VENDOME PL
2683157               30              2306.0        15 BRUYERES MEWS
2683158               60              2316.0           527 ROGERS RD
2683159               60              2326.0     2372 ST CLAIR AVE W
2683160               30              2328.0           15 NORMAN AVE
2683161               30              2336.0       880 GRANDVIEW WAY
2683162               30              2337.0        175 REXDALE BLVD
2683163               30              2338.0        175 REXDALE BLVD
2683164               30              2338.0          46 SPADINA AVE
2683165               60              2340.0     15 MARINE PARADE DR
2683166               60              2341.0     15 MARINE PARADE DR
2683167              100              2342.0     420 WELLINGTON ST W
2683168               60              2342.0     15 MARINE PARADE DR
2683169              100              2346.0           17 NIAGARA ST
2683170               30              2347.0      1300 YORK MILLS RD
2683171               30                 NaN     1800 SHEPPARD AVE E

         LONGITUDE   LATITUDE        MUN_NAME            WARD_NAME  \
0       -79.456672  43.646536  former Toronto   Parkdale-High Park
1       -79.387135  43.647467  former Toronto    Spadina-Fort York
2       -79.345105  43.701970       East York      Don Valley West
3       -79.417374  43.644625  former Toronto    Spadina-Fort York
4       -79.455796  43.644462  former Toronto   Parkdale-High Park
5       -79.455796  43.644462  former Toronto   Parkdale-High Park
6       -79.455796  43.644462  former Toronto   Parkdale-High Park
7       -79.377911  43.660268  former Toronto       Toronto Centre
8       -79.377911  43.660268  former Toronto       Toronto Centre
9       -79.376764  43.659996  former Toronto       Toronto Centre
10      -79.391639  43.643097  former Toronto    Spadina-Fort York
11      -79.416627  43.644853  former Toronto    Spadina-Fort York
12      -79.385912  43.656497  former Toronto  University-Rosedale
13      -79.406280  43.646526  former Toronto    Spadina-Fort York
14      -79.385338  43.656825  former Toronto  University-Rosedale
15      -79.385338  43.656825  former Toronto  University-Rosedale
16      -79.391639  43.643097  former Toronto    Spadina-Fort York
17      -79.407073  43.642742  former Toronto    Spadina-Fort York
18      -79.393097  43.709732  former Toronto   Toronto-St. Paul's
19      -79.393097  43.709732  former Toronto   Toronto-St. Paul's
20      -79.382339  43.657566  former Toronto  University-Rosedale
21      -79.411250  43.641881  former Toronto    Spadina-Fort York
22      -79.392402  43.709544  former Toronto   Toronto-St. Paul's
23      -79.392402  43.709544  former Toronto   Toronto-St. Paul's
24      -79.373529  43.770133      North York     Don Valley North
25      -79.392402  43.709544  former Toronto   Toronto-St. Paul's
26      -79.392402  43.709544  former Toronto   Toronto-St. Paul's
27      -79.347840  43.686060       East York     Toronto-Danforth
28      -79.427943  43.649715  former Toronto            Davenport
29      -79.385335  43.661929  former Toronto       Toronto Centre
...            ...        ...             ...                  ...
2683142 -79.379402  43.655255  former Toronto       Toronto Centre
2683143 -79.400519  43.648420  former Toronto    Spadina-Fort York
2683144 -79.400689  43.637196  former Toronto    Spadina-Fort York
2683145 -79.331136  43.760369      North York      Don Valley East
2683146 -79.403074  43.654257  former Toronto  University-Rosedale
2683147 -79.401578  43.642174  former Toronto    Spadina-Fort York
2683148 -79.377690  43.655454  former Toronto       Toronto Centre
2683149 -79.401578  43.642174  former Toronto    Spadina-Fort York
2683150 -79.437848  43.751142      North York          York Centre
2683151 -79.414631  43.656208  former Toronto  University-Rosedale
2683152        NaN        NaN             NaN                  NaN
2683153 -79.414527  43.655875  former Toronto  University-Rosedale
2683154 -79.414527  43.655875  former Toronto  University-Rosedale
2683155 -79.328139  43.716904      North York      Don Valley East
2683156 -79.328139  43.716904      North York      Don Valley East
2683157 -79.400689  43.637196  former Toronto    Spadina-Fort York
2683158 -79.469037  43.682098            York    York South-Weston
2683159 -79.480425  43.669938  former Toronto    York South-Weston
2683160 -79.455098  43.677782  former Toronto            Davenport
2683161 -79.412358  43.775192      North York           Willowdale
2683162 -79.570465  43.710706       Etobicoke      Etobicoke North
2683163 -79.570465  43.710706       Etobicoke      Etobicoke North
2683164 -79.395076  43.644661  former Toronto    Spadina-Fort York
2683165 -79.475496  43.628986       Etobicoke  Etobicoke-Lakeshore
2683166 -79.475496  43.628986       Etobicoke  Etobicoke-Lakeshore
2683167 -79.396430  43.644176  former Toronto    Spadina-Fort York
2683168 -79.475496  43.628986       Etobicoke  Etobicoke-Lakeshore
2683169 -79.399924  43.642170  former Toronto    Spadina-Fort York
2683170 -79.323867  43.761958      North York      Don Valley East
2683171 -79.344498  43.777748      North York     Don Valley North

                   WardLocation
0               355 PARKSIDE DR
1                 220 KING ST W
2        35 THORNCLIFFE PARK DR
3                968 QUEEN ST W
4               193 PARKSIDE DR
5               193 PARKSIDE DR
6               193 PARKSIDE DR
7               86 GERRARD ST E
8               86 GERRARD ST E
9              101 GERRARD ST E
10               361 FRONT ST W
11               942 QUEEN ST W
12             150 ELIZABETH ST
13               723 QUEEN ST W
14                    77 ELM ST
15                    77 ELM ST
16               361 FRONT ST W
17                801 KING ST W
18              177 REDPATH AVE
19              177 REDPATH AVE
20                    13 ELM ST
21                901 KING ST W
22           200 ROEHAMPTON AVE
23           200 ROEHAMPTON AVE
24               11 PROTEA GDNS
25           200 ROEHAMPTON AVE
26           200 ROEHAMPTON AVE
27                 922 PAPE AVE
28             1366 DUNDAS ST W
29              32 GRENVILLE ST
...                         ...
2683142         244 VICTORIA ST
2683143          15 DENISON AVE
2683144        15 BRUYERES MEWS
2683145      1230 YORK MILLS RD
2683146         35 BELLEVUE AVE
2683147           38 NIAGARA ST
2683148              67 BOND ST
2683149           38 NIAGARA ST
2683150        4256 BATHURST ST
2683151           80 CLINTON ST
2683152                     NaN
2683153           74 CLINTON ST
2683154           74 CLINTON ST
2683155            8 VENDOME PL
2683156            8 VENDOME PL
2683157        15 BRUYERES MEWS
2683158           527 ROGERS RD
2683159     2372 ST CLAIR AVE W
2683160           15 NORMAN AVE
2683161       880 GRANDVIEW WAY
2683162        175 REXDALE BLVD
2683163        175 REXDALE BLVD
2683164          46 SPADINA AVE
2683165     15 MARINE PARADE DR
2683166     15 MARINE PARADE DR
2683167     420 WELLINGTON ST W
2683168     15 MARINE PARADE DR
2683169           17 NIAGARA ST
2683170      1300 YORK MILLS RD
2683171     1800 SHEPPARD AVE E

[2683172 rows x 11 columns]

In [33]:
merged_df.head()

,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location2,LONGITUDE,LATITUDE,MUN_NAME,WARD_NAME,WardLocation
0,20120101,192,STAND SIGNED TRANSIT STOP,60,0.0,355 PARKSIDE DR,-79.456672,43.646536,former Toronto,Parkdale-High Park,355 PARKSIDE DR
1,20120101,5,PARK HWY PROHIBED TIME/DAY,40,1.0,220 KING ST W,-79.387135,43.647467,former Toronto,Spadina-Fort York,220 KING ST W
2,20120101,15,PARK - 3 M OF FIRE HYDRANT,100,2.0,35 THORNCLIFFE PARK DR,-79.345105,43.701970,East York,Don Valley West,35 THORNCLIFFE PARK DR
3,20120101,5,PARK HWY PROHIBED TIME/DAY,40,3.0,968 QUEEN ST W,-79.417374,43.644625,former Toronto,Spadina-Fort York,968 QUEEN ST W
4,20120101,192,STAND SIGNED TRANSIT STOP,60,4.0,193 PARKSIDE DR,-79.455796,43.644462,former Toronto,Parkdale-High Park,193 PARKSIDE DR

In [43]:
# Clean up the NaN values - next step

In [36]:
merged_df.shape

(2683172, 11)

In [36]:
# This dataset is now ready for me to manipulate in Tableau for a nice dashboard  or to be plotted with some other tool, 
# and ultimately I will combine it wiht the cnsus information e.g. for income

In [39]:
merged_df.to_csv (r'Park2012GeoOut.csv', index = None, header=True) 
#Don't forget to add '.csv' at the end of the path

In [47]:
#List unique values in the merged df by Ward and address

Unique_2012 = merged_df.WardLocation.unique()
2012_df = pd.DataFrame(Unique_2012)

           Street                      Address
0  968 QUEEN ST W  968 QUEEN ST W, Toronto, ON
1  942 QUEEN ST W  942 QUEEN ST W, Toronto, ON
2  723 QUEEN ST W  723 QUEEN ST W, Toronto, ON
3  257 QUEEN ST W  257 QUEEN ST W, Toronto, ON
4  369 QUEEN ST W  369 QUEEN ST W, Toronto, ON